@import url('https://fonts.googleapis.com/css?family=Crushed|Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

html {
    box-sizing: border-box;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {       
    font-family: 'Open Sans', sans-serif;  
    height: 100%;
    padding: 0px;
    margin: 0px;   
    background: rgb(249,247,244);
}
a {
    text-decoration: none!important;
}
.tailwind-grid {
    display: grid
}
.svg-icon  {     
    fill: currentColor;
}
.open-sans {
    font-family: 'Open Sans Condensed', sans-serif;  
}
.home-page-title {
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 56pt;  
}
.sub-title {
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 14pt;  
}
.feature-description {
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 16pt;
}
.feature-title {
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 16pt;
    font-weight: bold;
}
.height-90 {
    height: 90%!important;
}
.height-91 {
    height: 91!important;
}
.height-94 {
    height: 94%!important;
}
.height-92 {
    height: 92%!important;
}
.w-77 {
    width: 35rem;
}
.w-76 {
    width: 34rem;
}
.w-74 {
    width: 30rem;
}
.h-76 {
    height: 34rem;
}
.h-74 {
    height: 30rem;
}
.pt-19 {
    padding-top: 4.7rem;
}
.p-title {
    padding: 0.80rem;
    font-size: 12pt;
}
.content-inside {
    padding: 0px;
    padding-bottom: 0px;
}
.page-content {  
    padding: 0px; 
    min-height: 100%;    
    margin: 0 auto -80px;
}
.footer {
    height: 80px!important;  
    margin-top: -80px;
    margin-bottom: 0px;
}
.navbar-title {
    font-family: 'Contrail One', cursive;
    font-size: 36px;  
    color: white;  
}
.page-title {
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 24pt;
    font-weight: bold; 
}
.thumbnail-size {
    min-height: 120px!important;
    max-height: 120px!important;
}
.borderless {
    border: none!important;
}
.navbar-user-menu {
    background-color: #2a4365!important;
}
.navbar-menu .navbar-item a {
    font-family: 'Contrail One';
    font-size: 14pt;  
    font-weight: 300;
}

.bg-gray {
    background-color: #1a202c!important;
}
.page-link-icon:hover {
    transform: scale(1.2)!important;
    -webkit-transform: scale(1.2)!important;
    -moz-transform: scale(1.2)!important;
    -o-transform: scale(1.2)!important;
    background-color: none!important;
    border: none!important;
    color:#dd6b20!important;    
}
.page-link-icon {
    -webkit-transition: -webkit-transform 0.2s ease!important;
    -moz-transition: -moz-transform 0.2s ease!important;
    transition: transform 0.2s ease!important;
    background-color: none!important;
    border: none!important;
}
.page-link {
    background-color: none!important;
}
.user-menu {
    background-color: #2b6cb0!important;
}
.ui.vertical.menu .item > i.icon.left {
    float: none;
    margin: 0em 0.35714286em 0em 0em;
}