{% if item is empty %}
    {% set item = createModel('FilePermissions','storage').findById(uuid) %}
{% endif %}
<tr id="row_{{ item.uuid }}">          
    <td>
        <button class="ui icon button mini basic delete-permission" uuid="{{ item.uuid }}">
            <i class="icon orange trash"></i>
        </button>
    </td>
    <td>
       {{ item.related.user_name_or_email }}
    </td>  
    <td>
        {{ component('storage>files.permissions.label',{ item: item, labels_class: 'horizontal mini' }) }}
    </td>         
</tr>