{% component 'files:layout.content' %}  
    {% set color = ' ' %}
    {% set border = ' ' %}
    {% set title = { text: title } %}
    {% set icon = theme.settings.menu.icon %}
    {% set item = {
            link: theme.link.hover,
            class: 'flex flex-row items-center p-2' 
    } %}
    <div class="flex flex-nowrap h-full" id="menu_panel">        
        <div class="p-2 w-64 flex flex-col flex-grow bg-white shadow rounded-lg">   
            <a class="account-menu-item {{ item.class }}" component="files:users.account.details">
                {{ component('icons~edit',icon,'svg') }}
                <span class="pl-2 text-gray-800 {{ item.link }}">{{ menu.details }}</span>
            </a>
            <a class="account-menu-item {{ item.class }}" component="files:users.account.password">
                {{ component('icons~lock',icon,'svg') }}
                <span class="pl-2 text-gray-800 {{ item.link }}">{{ menu.password }}</span>
            </a>
            <a class="account-menu-item {{ item.class }}" component="files:users.account.filesystems">
                {{ component('icons~server',icon,'svg') }}
                <span class="pl-2 text-gray-800 {{ item.link }}">{{ menu.filesystems }}</span>
            </a>    
            <a class="account-menu-item {{ item.class }}" component="files:users.account.settings">
                {{ component('icons~mail',icon,'svg') }}
                <span class="pl-2 text-gray-800 {{ item.link }}">{{ menu.notifications }}</span>
            </a>                      
        </div>           
        <div class="w-full flex-col flex-shrink-1 ml-2">       
            <div class="ui grid">  
                <div class="seven wide column" id="account_content">         
                    {{ component('files:users.account.details') }}                        
                </div>
            </div>        
        </div>
    </div>
{% endcomponent %}