<div class="{{ class }} w-64 h-full max-w-sm p-6 border-2 border-gray-300 tracking-wide rounded shadow-lg bg-white">
    <div class="flex justify-center ">        
        {{  component(icon,{ 
                class: '', 
                size: 'h-32 w-32', 
                width: 1, 
                color: 'text-blue-300' 
            },'svg') 
        }}        
    </div>                 
    <h3 class="text-center">
        {{ title }}
    </h3>   
    <p class="mt-2 p-1 feature-description">
       {{ description }}
    </p>  
</div>      