{% set color_class = color_class|default('text-gray-700') %}
<div class="{{ class }} w-64 max-w-sm p-6 border-2 border-gray-300 tracking-wide rounded-md shadow-lg bg-white">
    <div class="flex justify-center">
        <svg class="svg-icon w-32 h-32 {{ color_class }}">
            <use xlink:href="{{ template_url }}/images/icons/{{ icon }}"/>
        </svg>  
    </div>                 
    <h3 class="text-center">
        {{ title }}
    </h3>   
    <p class="mt-2 p-1 feature-description">
       {{ description }}
    </p>  
</div>      