<div class="flex items-center p-2 pb-4">  
    {% if icon is not empty %}    
        {{  component(icon.name,{ 
                size: icon.size|default('h-7 w-7'), 
                width: icon.width|default(1), 
                color: icon.color 
            },'svg') 
        }}
    {% endif  %}
    <div class="font-bold pl-2 flex-grow">          
        {{ title }}          
    </div>     
   
        <button class="bg-white border-0 close-button pt-2" title="{{ labels.close }}">
            {{  component('icons~close.circle',{ 
                    size: 'h-7 w-7', 
                    width: 1, 
                    color: ''
                },'svg') 
            }}
        </button> 
   
</div> 