<div class="ui icon dropdown user-menu-dropdown {{ class }}" id="user_menu_dropdown">
    <i class="icon {{ icon }}"></i>    
    {% if show_user_name == true %}
        {% set user = service('access').getUser() %}
        {% set user_name = (user.user_name is empty) ? user.email : user.user_name %}
        <span class="text">{{ user_name }}</span>
    {% endif %}
    {% if hide_dropdown_icon != true %}
        <i class="icon dropdown"></i>
    {% endif %}
    <div class="ui menu {{ menu_class }}">
        {% if service('access').isLogged() == true %}
            <a class="item {{ item_class }} {{ (selected == 'dashboard') ? 'active' : '' }} dropdown-user-menu-item" component="files>users.dashboard" href="{{ url('/user/dashboard') }}">
                <i class="icon dashboard {{ icon_class }}"></i>
                {{ items.dashboard }}
            </a>
            <a class="item {{ item_class }} {{ (selected == 'account') ? 'active' : '' }} dropdown-user-menu-item" component="files>users.account" href="{{ url('/user/account') }}">
                <i class="icon cog {{ icon_class }}"></i>
                {{ items.account }}
            </a>
            <a class="item {{ item_class }} dropdown-user-menu-item" component="files>users.logout" href="{{ url('/logout') }}">
                <i class="icon sign out {{ icon_class }}"></i>
                {{ items.logout }}
            </a>
        {% else %}
            {{ content }}
        {% endif %}
    </div>
</div>