{% set file_type = file.getFileType() %}
<div class="w-full h-full rounded border border-solid border-gray-400 overflow-hidden shadow-lg" id="row_{{ file.uuid }}">
    <div class="content p-2">
        <div class="flex justify-between">            
            {{ component('files>files.shared.items.actions',{ file: file, class: 'mini basic button' }) }}          
            <div class="pl-2 font-bold show-popup" data-content="{{ file.file_name }} ">                 
                {{ file.file_name|sliceLabel(16,'...') }}                   
            </div> 
            <div>
                {% if file.hasPassword() == true %}
                    <button file-name="{{ file.file_name }}" uuid="{{ file.uuid }}" class="ui basic mini icon button show-popup show-password-modal" title="{{ labels.download }}">
                        <i class="icon blue download"></i>
                    </button> 
                {% else %}
                    <a class="ui basic mini icon button show-popup" href="{{ file.getDownloadUrl() }}" title="{{ labels.download }}">
                        <i class="icon blue download"></i>
                    </a> 
                {% endif %}
            </div>          
        </div>               
    </div>      
    <div class="content">
        <div class="text-center">                                      
            <a class="ui link preview-file" uuid="{{ file.uuid }}">
                {% if file.isImage() == true %}
                    <img class="w-full h-32" src="{{ file.getViewImageUrl() }}">
                {% else %} 
                    <div class="mt-1">                                             
                        {{ component('files>files.file.icon',{ type: file_type, class: 'massive' }) }}   
                    </div>                        
                {% endif %}                
            </a>                       
        </div>          
    </div>
    <div class="content p-2">                  
        <div class="ui mini basic labels right floated">            
            <div class="ui label show-popup" data-content="{{ labels.downloads }}">
                <i class="icon download"></i>                     
                {{ file.downloads }}        
            </div>
            {% if file.hasPassword() == true %}
            <div class="ui icon label show-popup" data-content="{{ labels.password }}">
                <i class="icon red lock"></i>   
            </div>
            {% endif %}
        </div>
    </div>
    <div class="content meta p-2"> 
        <div class="ui mini basic horizontal labels">        
            <div class="ui label show-popup" data-content="{{ labels.date }}">
                <i class="icon blue outline calendar"></i>
                {{ file.date_created|dateFormat }}
            </div>             
            <div class="ui label show-popup right aligned" data-content="{{ labels.size }}">
                {{ file.size|fileSize }}
            </div>                                                        
        </div> 
    </div>  
</div>