{% set logged = access().isLogged() %}
<nav class="w-full p-2 pt-3 flex flex-row {{ theme.navbar.color|default('bg-blue-600 shadow-lg') }}" role="navigation">    
    {% if logged != true %}
        {% set button = {
            class: 'lg:hidden',
            icon: {
                name: 'icons~menu',          
                color: 'text-gray-200',
                class: theme.link.hover
            }
        } %}
    {% endif %}
    <div class="{{ content_class|default('container mx-auto') }} flex flex-row w-full items-center">
        {% if button is not empty %}    
            <btn class="cursor-pointer home-button {{ button.class|default('px-3 py-2 md:hidden') }}" type="button">         
                {% if button.icon is not empty %}
                    {{  component(button.icon.name,{ 
                            size: button.icon.size|default('h-6 w-6'), 
                            width: button.icon.width|default(2), 
                            color: button.icon.color, 
                            class: button.icon.class 
                        },'svg') 
                    }}
                {% endif %}        
            </btn>   
        {% endif %} 
        <div class="flex items-center flex-row xs:flex-grow">
            <div class="pr-1">
                {{ component('icons~document.text',{ size: 'h-10 w-10', width: 1, color: 'text-blue-300' },'svg') }}       
            </div>      
            <div class="navbar-title pl-2 md:flex-grow">
                {{ title }}
            </div> 
        </div>     
        <div class="flex flex-grow">
            {{  component('files:navbar.menu',{ 
                    class: 'ml-10 flex-grow items-center lg:flex md:hidden sm:hidden xs:hidden',           
                    logged: logged,
                    active: active 
                }) 
            }}   
        </div>               
        <div class="flex flex-row items-center">  
            {% set user_link = (logged == true) ? url('/user') : url('/login') %}  
            
            <a class="cursor-pointer p-1 pt-2 mr-10" href="{{ user_link }}">
                {{ component('icons~user',{ size: 'h-7 w-7', width: 2, color: theme.navbar.icon.color },'svg') }}  
            </a>                 
              
            {{  component("tailwind~language",{ 
                    icon: {
                        color: 'text-white',
                        class: theme.link.hover,
                        size: 'h4 w-4' 
                    }
                }) 
            }}                                                               
        </div>    
    </div>            
</nav>