{% set model = createModel('Files','storage') %}
{% set files = model.join('file_permissions', 'files.id', '=', 'file_permissions.entity_id') %}
{% set files = files.select('files.*','file_permissions.*','files.uuid as uuid','files.id as id') %}
{% set files = files.whereRaw(' file_permissions.relation_id IS NULL ') %}
{% set files = files.whereNull('files.password') %}
{% set items = paginate(files,'files') %}  

<div class="tailwind-grid grid-cols-5 items-start xl:grid-cols-4  2xl:grid-cols-6 md:grid-cols-3 sm:grid-cols-1 xs:grid-cols-1 gap-4">
    {% if items.getItems()|length == 0 %}
        <div class="ui item">{{ labels.empty }}</div>
    {% endif %}
    {% for file in items.getItems() %}          
        <div class="flex flex-col w-full h-56 rounded border border-solid border-gray-400 shadow-lg bg-white" id="row_{{ file.uuid }}">          
            <div class="flex justify-between">                                     
                <div class="pl-4 p-2 font-bold show-popup" data-content="{{ file.file_name }} ">                 
                    {{ file.file_name|sliceLabel(16,'...') }}                   
                </div> 
                <div class="self-center">
                    {% if file.hasPassword() == true %}
                        <button file-name="{{ file.file_name }}" uuid="{{ file.uuid }}" class="ui basic mini icon button show-popup show-password-modal" title="{{ labels.download }}">
                            {{ component('icons~download',{ 
                                class: theme.link.hover, 
                                size: 'h-6 w-6',
                                width: 2, 
                                color: theme.icons.color },'svg') 
                            }} 
                        </button> 
                    {% else %}
                        <a class="p-2" href="{{ file.getDownloadUrl() }}" data-tooltip="{{ labels.download }}">    
                            {{ component('icons~download',{ 
                                class: theme.link.hover, 
                                size: 'h-6 w-6',
                                width: 2, 
                                color: theme.icons.color },'svg') 
                            }}                                              
                        </a>                          
                    {% endif %}
                </div>          
            </div>               
            <div class="overflow-hidden pb-0 h-full w-full self-center">                                                       
                <a class="h-full flex justify-center preview-file cursor-pointer" href="{{ file.getDownloadUrl() }}" title="{{ labels.download }}">
                    {% if file.isImage() == true %}
                        <img class="rounded-b w-full h-full object-scalde-down" src="{{ file.getViewImageUrl() }}">
                    {% else %} 
                        <div class="mt-1 self-center">                                             
                            {{  component('files:file.svg',{ 
                                    class: theme.link.hover, 
                                    type: file.getFileType(), 
                                    width: 1, 
                                    size: 'h-28 w-28' 
                                }) 
                            }}   
                        </div>                        
                    {% endif %}   
                </a>                                               
            </div>                               
        </div>           
    {% endfor %}
</div>