{% set model = createModel('Files','storage') %}
{% set files = model.join('file_permissions', 'files.id', '=', 'file_permissions.entity_id') %}
{% set files = files.select('files.*','file_permissions.*','files.uuid as uuid','files.id as id') %}
{% set files = files.whereRaw(' file_permissions.relation_id IS NULL ') %}
{% set files = files.whereNull('files.password') %}
{% set items = paginate(files,'files') %}  

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 lg:grid-cols-5 xl:grid-cols-6 gap-8">
    {% if items.getItems()|length == 0 %}
        <div class="ui item">{{ labels.empty }}</div>
    {% endif %}
    {% for file in items.getItems() %}   
        {% set file_type = file.getFileType() %}
        <div class="w-full h-full rounded border border-solid border-gray-400 overflow-hidden shadow-lg bg-white" id="row_{{ file.uuid }}">
            <div class="content p-2">
                <div class="flex justify-between">                                     
                    <div class="pl-2 font-bold show-popup" data-content="{{ file.file_name }} ">                 
                        {{ file.file_name|sliceLabel(16,'...') }}                   
                    </div> 
                    <div>
                        {% if file.hasPassword() == true %}
                            <button file-name="{{ file.file_name }}" uuid="{{ file.uuid }}" class="ui basic mini icon button show-popup show-password-modal" title="{{ labels.download }}">
                                <i class="icon blue download"></i>
                            </button> 
                        {% else %}
                            <a class="ui basic mini icon button show-popup" href="{{ file.getDownloadUrl() }}" title="{{ labels.download }}">
                                <i class="icon blue download"></i>
                            </a> 
                        {% endif %}
                    </div>          
                </div>               
            </div>      
            <div class="content">
                <div class="text-center">                                                       
                    <a class="ui" href="{{ file.getDownloadUrl() }}" title="{{ labels.download }}">
                        {% if file.isImage() == true %}
                            <img class="w-full h-32" src="{{ file.getViewImageUrl() }}">
                        {% else %} 
                            <div class="mt-1">                                             
                                {{ component('files:files.public.icon',{ type: file_type, class: 'massive' }) }}   
                            </div>                        
                        {% endif %}   
                    </a>                                               
                </div>          
            </div>
            <div class="content p-2">                                 
            </div>
            <div class="content meta p-2"> 
                <div class="ui mini basic horizontal labels">        
                    <div class="ui label show-popup" data-content="{{ labels.date }}">
                        <i class="icon blue outline calendar"></i>
                        {{ file.date_created|dateFormat }}
                    </div>             
                    <div class="ui label show-popup right aligned" data-content="{{ labels.size }}">
                        {{ file.size|fileSize }}
                    </div>  
                    <div class="ui label show-popup" data-content="{{ labels.downloads }}">
                        <i class="icon download"></i>                     
                        {{ file.downloads }}        
                    </div>                                                            
                </div> 
            </div>  
        </div>           
    {% endfor %}
</div>