{% component 'tailwind~sidebar' type 'static' %} 
    {% set logged = access().isLogged() %}
    {% set class = 'w-20 shadow h-full min-h-full' %}    
    {% set content_class = 'pt-2 mt-2' %}     
    {% set logout = {
        icon: {
            name: 'icons~logout',
            size: 'h-6 w-6', 
            width: 2, 
            color: theme.sidebar.icon.color
        }, 
        title: {
            text: items.logout,
            class: theme.sidebar.link
        },
        item: 'user-menu-item',
        class: 'mb-12',
        component: 'files:users.logout'   
    } %}  
    <div class="mb-6">
        <a class="user-menu-item flex flex-col items-center {{ theme.sidebar.link }}" component="files:users.dashboard">
            {{ component('icons~home',{ size: 'h-6 w-6', width: 2, color: theme.sidebar.icon.color },'svg') }}
            <div class="{{ theme.sidebar.link }}">{{ items.home }}</div>    
        </a>
    </div>
    <div class="mb-6">
        <a class="user-menu-item flex flex-col items-center {{ theme.sidebar.link }} {{ (selected == 'myfiles') ? 'active' : '' }}" component="files:files.view">
            {{ component('icons~document.text',{ size: 'h-6 w-6', width: 2, color: theme.sidebar.icon.color },'svg') }}
            <div class="{{ heme.sidebar.link }}">{{ items.myfiles }}</div>                                                                            
        </a>         
    </div>
    <div class="mb-6">
        <a class="user-menu-item flex flex-col items-center {{ theme.sidebar.link }} {{ (selected == 'shared') ? 'active' : '' }}" component="files:files.shared">
            {{ component('icons~folder.open',{ size: 'h-6 w-6', width: 2, color: theme.sidebar.icon.color },'svg') }}
            <div class="{{ heme.sidebar.link }}">{{ items.shared }}</div>
        </a>        
    </div>
    <div class="mb-6">
        <a class="user-menu-item flex flex-col items-center {{ theme.sidebar.link }} {{ (selected == 'trash') ? 'active' : '' }}" component="files:files.trash">
            {{ component('icons~trash',{ size: 'h-6 w-6', width: 2, color: theme.sidebar.icon.color },'svg') }}
            <div class="{{ heme.sidebar.link }}">{{ items.trash }}</div> 
        </a>
    </div>
    <div class="mb-6">
        <a class="user-menu-item flex flex-col items-center {{ theme.sidebar.link }} {{ (selected == 'account') ? 'active' : '' }}" component="files:users.account">
            {{ component('icons~cog',{ size: 'h-6 w-6', width: 2, color: theme.sidebar.icon.color },'svg') }}
            <div class="{{ heme.sidebar.link }}">{{ items.settings }}</div>
        </a>   
    </div>  
{% endcomponent %}