{% set class = class|default('basic mini button') %}
<div class="ui dropdown file-actions icon {{ class }}">
    <i class="ellipsis vertical icon"></i>
    <div class="menu">
        {% if file.isDirectory() == true %}
            <div class="item delete-directory" path="{{ file.path }}" {{ buttons.delete.title|attr('title') }}>
                <i class="icon orange trash"></i>
                {{ labels.delete }}
            </div>     
        {% else %}            
            <div class="item share-file" uuid="{{ file.uuid }}" path="{{ file.path }}" {{ buttons.share.title|attr('title') }}>
                <i class="icon share"></i>
                {% if file.hasPermissions() == true %}
                    {{ labels.edit }}
                {% else %}
                    {{ labels.share }}
                {% endif %}
            </div>
            <div class="item">
                <a class="ui link" href="{{ file.getDownloadUrl() }}">       
                    <i class="icon show-popup download text-gray-800" title="{{ labels.download }}"></i> 
                    <span class="pl-2 text-gray-800">{{ labels.download }}</span>                                    
                </a> 
            </div>
            <div class="item file-link-button" data-title="{{ labels.link }}" data-content="{{ file.getDownloadUrl() }}" uuid="{{ file.uuid }}" path="{{ file.path }}" {{ buttons.share.title|attr('title') }}>
                <i class="icon linkify"></i>
                {{ labels.link }}
            </div>
            {% if file.isLocal() == true %}
                <div class="item move-trash-file" name="{{ file.path }}" path="{{ file.path }}" {{ buttons.delete.title|attr('title') }}>
                    <i class="icon orange trash"></i>
                    {{ labels.delete }}
                </div>
            {% else %}
                <div class="item delete-file" name="{{ file.path }}" path="{{ file.path }}" {{ buttons.delete.title|attr('title') }}>
                    <i class="icon orange trash"></i>
                    {{ labels.delete }}
                </div>
            {% endif %}
        {% endif %}    
        <div class="item file-details" uuid="{{ file.uuid }}" {{ buttons.details.title|attr('title') }}>
            <i class="icon info"></i>
            {{ labels.details }}
        </div>
    </div>
</div>