{% set file = createModel('Files','storage').findById(uuid) %}
{% set icon = theme.icons %}
<div class="p-1 file-details-content">
    <div class="pt-5 pb-6 flex justify-start p-2 ml-2 border-0 border-b-2 border-gray-200 border-solid">      
        {{ component('icons~info',icon,'svg') }}
        <div class="font-bold pl-2 flex-grow">          
            {{ labels.details }}           
        </div>     
        <btn class="bg-white border-0 close-details-button" data-tooltip="{{ labels.close }}" on-close="{{ on_close }}">
            {{  component('icons~close.circle',{ 
                    size: 'h-6 w-6', 
                    width: 1, 
                    class: theme.link.hover
                },'svg') 
            }}
        </btn>                         
    </div> 
    <div class="p-2 ml-2">
        <div class="mt-4">
            <span class="font-bold">{{ labels.name }}</span>
            <div class="pl-4">
                {{ file.getBasename() }}        
            </div>
        </div>
        <div class="mt-8">
            <span class="font-bold">{{ labels.type }}</span>
            <div class="pl-4 flex items-center">
                {{ component('files:file.svg',{ type: file.getFileType() },'svg') }}      
                <span class="px-2">{{ file.mime_type }}</span>
            </div>
        </div>
        <div class="mt-4">
            <span class="font-bold">{{ labels.date }}</span>
            <div class="pl-4 flex items-center">
                {{ component('icons~calendar',icon,'svg') }}
                <span class="px-2">{{ file.date_created|dateFormat }}</span>
            </div>
        </div>
        <div class="mt-4">
            <span class="font-bold">{{ labels.owner }}</span>
            <div class="pl-4 flex items-center">
                {{ component('icons~user',icon,'svg') }}
                <span class="px-2">{{ file.user.user_name }}</span>
            </div>
        </div>
        {% if file.isDirectory() == false %}
            <div class="mt-4">
                <span class="font-bold">{{ labels.size }}</span>
                <div class="pl-4 flex items-center">
                    {{ component('icons~document',icon,'svg') }}
                    <span class="px-2">{{ file.size|fileSize }}</span>
                </div>
            </div>
        {% else %}
            <div class="mt-4">
                <span class="font-bold">{{ labels.downloads }}</span>
                <div class="pl-4 flex items-center">
                    {{ component('icons~download',icon,'svg') }}
                    <span class="px-2">{{ file.downloads }}</span>
                </div>
            </div>      
        {% endif %}
        <div class="mt-4">
            <span class="font-bold">{{ labels.filesystem }}</span>
            <div class="pl-4 flex items-center">
                {{ component('icons~server',icon,'svg') }}
                <span class="px-2">{{ file.filesystem }}</span>
            </div>
        </div>
        <div class="mt-4">
            <span class="font-bold">{{ labels.access }}</span>
            <div class="pl-4 flex items-center">
                {{ component('icons~lock',icon,'svg') }}              
                {% if file.hasPermissions() == true %}
                    <div class="px-2 font-bold text-green-500 p-1">
                        {{ labels.shared }}
                    </div>
                {% else %}
                    <div class="px-2 font-bold text-red-500 p-1">
                        {{ labels.private }}
                    </div>
                {% endif %}  
            </div>
        </div>
        <div class="mt-4">
            <span class="font-bold">{{ labels.link }}</span>
            <div class="">             
                <p class="px-2">{{ file.getDownloadUrl() }}</p>            
            </div> 
        </div>             
    </div>  
</div>