              
<button class="ui mini button create-directory basic show-popup file-button" data-content="{{ labels.create }}">
    {{ component('icons~folder.add',{ size: 'h-6 w-6', width: 2, color: icon_color },'svg') }}
</button>
<button class="ui mini button upload-file basic show-popup file-button" data-content="{{ labels.upload }}">
    {{ component('icons~upload',{ size: 'h-6 w-6', width: 2, color: icon_color },'svg') }}   
</button>      
{{  component('tailwind~breadcrumb',{ 
        path: path,
        class: 'paded massive pl-2',      
        icon: 'folder open outline blue'           
    }) 
}}       
      