{% if file is empty %}
    {% set file = createModel('Files','storage').findById(uuid) %}
{% endif %}
{% set file_type = file.getFileType() %}
<div class="item" id="row_{{ file.uuid }}">   
    <div class="content">
        {{ component('files>files.shared.items.actions',{ file: file }) }}
        {% if trash == true %}     
            {{ component('files>files.file.icon',{ type: file.mime_type, class: 'large ' ~ color_icon }) }} 
            {{ file.file_name }}    
        {% else %}
            {% if file.isDirectory() == true %}
                <button class="ui basic disabled mini icon button">
                    <i class="icon"></i>
                </button> 
                <a class="ui link open-directory" path="{{ path }}" trash="{{ trash }}">
                    {{ component('files>files.file.icon',{ type: 'dir', class: 'large ' ~ color_icon }) }} 
                    {{ file.file_name }}      
                </a>       
            {% else %}     
                {% if file.hasPassword() == true %}
                    <a file-name="{{ file.file_name }}" uuid="{{ file.uuid }}" class="ui basic mini icon button show-popup show-password-modal" title="{{ labels.download }}">
                        <i class="icon blue download"></i>
                    </a> 
                {% else %}
                    <a class="ui basic mini icon button show-popup" href="{{ file.getDownloadUrl() }}" title="{{ labels.download }}">
                        <i class="icon blue download"></i>
                    </a> 
                {% endif %}
                <a class="ui link preview-file" uuid="{{ file.uuid }}">
                    {{  component('files>files.file.icon',{ type: file_type, class: 'large ' ~ color_icon }) }} 
                    {{ file.file_name }}  
                </a>                   
            {% endif %}                          
        {% endif %}  
        <div class="ui basic labels right floated">                                            
            {% if file.hasPassword() == true %}
                <div class="ui icon label">
                    <i class="icon red lock show-popup" title="{{ labels.password }}"></i>   
                </div>
            {% endif %}
            <div class="ui label show-popup" data-content="{{ labels.date }}">
                <i class="icon blue outline calendar"></i>
                {{ file.date_created|dateFormat }}
            </div>   
            <div class="ui basic label show-popup" data-content="{{ labels.size }}">                
                {{ file.size|fileSize|padLeft(15,' ') }}
            </div> 
            <div class="ui label show-popup" data-content="{{ labels.downloads }}">
                <i class="icon download"></i>                     
                {{ file.downloads|padLeft(10,' ') }}        
            </div>
        </div>
    </div>  
</div>