{% if type == 'directory' %}
    {% set icon_name = 'icons~folder' %}
{% elseif type == 'zip' %}
    {% set icon_name = 'icons~archive' %}   
{% elseif type == 'image' %}
    {% set icon_name = 'icons~image' %}   
{% elseif type == 'video' %}
    {% set icon_name = 'icons~film' %}  
{% elseif type == 'audio' %}
    {% set icon_name = 'icons~music' %}   
{% elseif type == 'pdf' %}
    {% set icon_name = 'icons~document.text' %} 
{% else %}
    {% set icon_name = 'icons~document.text' %} 
{% endif %}
{{  component(icon_name,{ 
        class: class,
        size: size|default(theme.icons.size), 
        width: width|default(theme.icons.width), 
        color: color|default(theme.icons.color) 
    },'svg') 
}}  