{% set path = path|default(bin_path) %}
{% set items = getDirectoryFiles(path,false,filesystem) %}
{% if items|length == 0 %}
    {{ component('files:files.view.items.empty',{ icon: '' }) }}
{% endif %}

{% for item in items %}
    {% set uuid = createUuid() %}
    {% set mime_type = (item.type == 'dir') ? 'directory' : service('storage').getMimetype(item.path,filesystem) %}
    <div class="p-1 flex flex-row items-center" id="row_{{ uuid }}">                
        <btn class="restore-file show-popup" uuid="{{ uuid }}" path="{{ item.path }}" title="{{ labels.restore }}">
            {{ component('icons~reply',{ class: theme.link.hover, size: 'h-6 w-6', width: 2, color: 'text-green-300' },'svg') }}  
        </btn>   
        <div class="pl-3 flex flex-row items-center">
        {% if item.type == 'dir' or item.type == 'directory' %}
            <a class="open-directory" path="{{ item.path }}" driver-name="{{ driver_name }}">
                {{ component('icons~folder',{ 
                    class: theme.link.hover, 
                    size: 'h-6 w-6', 
                    width: 2, 
                    color: icon_color|default(theme.icons.color) },'svg') }}                    
            </a>              
        {% else %}           
            {{ component('files:file.svg',{ type: mime_type, class: ' ' }) }}                                         
        {% endif %}   
            <span class="text-gray-800 pl-2">
                {{ item.basename }}    
            </span>  
        </div>                                                                           
    </div>
{% endfor %}
