{% component 'files:layout.content' type 'html' %}
    {% set path = path|default(bin_path) %}
    {% set disabled = (empty == true) ? 'disabled' : '' %}
    {% set title = { text: title } %}
    <div class="pb-3 flex flex-row items-center bg-white border-0 border-b-2 border-gray-200 border-solid">               
        <btn class="empty-trash {{ disabled }} trash-button show-popup" {{ buttons.empty.title|attr('title') }}>
            {{ component('icons~trash',{ class: theme.link.hover, size: 'h-8 w-8', width: 2, color: 'text-red-300' },'svg') }}       
        </btn>
        <btn class="pl-3 restore-trash {{ disabled }} trash-button show-popup" {{ buttons.restore.title|attr('title') }}>
            {{ component('icons~reply',{ class: theme.link.hover, size: 'h-8 w-8', width: 2, color: 'text-green-300' },'svg') }}  
        </btn>
        {{  component('tailwind~breadcrumb',{ 
                path: path,
                home_path: 'bin',
                class: 'pl-4 flex-grow',      
                icon: {
                    name: 'icons~folder',
                    class: theme.link.hover,
                    color: theme.icons.color
                }           
            }) 
        }}            
    </div>
    <div id="view_content" class="flex flex-col mt-4">
        {{ component("files:files.trash.rows",{ view_type: view_type }) }}
    </div>    
{% endcomponent %}