{% set path = path|default(bin_path) %}
{% set disabled = (empty == true) ? 'disabled' : '' %}

<div class="ui segment">     
    <div class="ui icon buttons files-buttons">      
        <button class="ui basic orange button empty-trash {{ disabled }} trash-button show-popup" {{ buttons.empty.title|attr('title') }}>
            <i class="icon trash alternate outline orange"></i>               
        </button>
        <button class="ui basic green button restore-trash {{ disabled }} trash-button show-popup" {{ buttons.restore.title|attr('title') }}>
            <i class="trash restore olive icon"></i>               
        </button>
    </div>
    {{  component('components:breadcrumb',{ 
            path: path,
            home_path: 'bin',
            class: 'paded massive pl-2',      
            icon: 'trash open blue'           
        }) 
    }}  
</div>
<div class="bg-white shadow p-4 flex-grow rounded-lg border border-gray-300"> 
    <div id="view_content" class="ui list">
        {{ component("files>files.trash.rows",{ view_type: view_type }) }}
    </div>
</div>