<div class="ui inverted top fixed big menu navbar-user-menu bg-blue-800 {{ class }}">      
    <div class="item navbar-item">    
        <i class="file alternate large blue outline icon"></i>            
        <div class="navbar-title navbar-item">                                                                     
            {{ title }}  
        </div> 
    </div>   
    <div class="right floated item navbar-item">           
        {{ component("components:language.dropdown") }}                     
    </div>        
</div> 
