{% component 'files:layout.content' type 'html' %}
{% set view_type = getViewType('files') %}
{% set title = { text: title } %}
<div class="pb-3 flex flex-row items-center bg-white border-0 border-b-2 border-gray-200 border-solid">  
    <div class="w-72">                  
        {% set search = getSearch('files') %}
        <form class="ui form" id="search_form" method="pots">
            <div class="ui fluid right action left icon input" id="search_input">
                <i class="search icon"></i>
                <input placeholder="{{ labels.placeholder }}" 
                    class="search-field" 
                    type="text" 
                    name="search_text" 
                    id="search_text" 
                    value="{{ search.search_text }}">                               
                <div class="ui basic buttons">
                    <button class="ui basic icon button" id="search_button">
                        <i class="icon search"></i>
                    </button>                       
                </div>
            </div>               
        </form>
        <input class="search-field" type="hidden" name="search_path" value="{{ path }}" id="search_path">
        <input class="search-field" type="hidden" name="folder_id" value="{{ folder_id }}" id="folder_id">
    </div>    
    <div class="flex-grow pl-4">
        {{  component('tailwind~breadcrumb',{ 
                path: path,
                class: 'paded massive pl-4 pt-1',      
                icon: {
                    name: 'icons~folder',
                    class: theme.link.hover,
                    color: theme.icons.color
                }           
            }) 
        }}        
    </div>      
    {{ component('components:view.type.button',{ class: 'basic icon show-popup', namespace: 'files' }) }}
    {{  component('components:paginator.dropdown',{
            namespace: 'files',
            class: 'show-popup',
            title: labels.paginator  
        }) 
    }}             
</div>
<div class="flex flex-col justify-between mt-8">
    <div class="flex-grow" id="files_items" component="files:files.shared.items" namespace="files">    
        {{ component('files:files.shared.items',{ view_type: view_type }) }}   
    </div>
    <div class="pt-4 pb-8" id="paginator">
        {{ component('components:paginator',{ namespace: 'files' }) }}
    </div>
</div>
<div class="ui modal" id="preview_file">    
    <div class="header">
        {{ preview.title }}
    </div>
    <i class="close icon"></i>
    <div class="scrolling content" id="preview_file_content">       
    </div>
    <div class="actions">
        <div class="ui basic right approve button">
        {{ preview.close }}       
        </div>
    </div>
</div>
{% endcomponent %}
{{ component('files:files.file.password-modal') }}