{% set view_type = getViewType('files') %}
<div class="ui segment">  
    <div class="ui grid">    
        <div class="five wide column">                  
            {% set search = getSearch('files') %}
            <form class="ui form" id="search_form" method="pots">
                <div class="ui fluid right action left icon input" id="search_input">
                    <i class="search icon"></i>
                    <input placeholder="{{ labels.placeholder }}" class="search-field" type="text" name="search_text" id="search_text" value="{{ search.search_text }}">               
                    <div class="ui basic buttons">
                        <button class="ui basic icon button" id="search_button">
                            <i class="icon search"></i>
                        </button>
                        <button class="ui icon button clear-search-form" title="{{ labels.clear }}">
                            <i class="remove icon"></i>
                        </button>
                    </div>
                </div>               
            </form>
        </div>       
        <div class="eleven wide column right floated">    
            <div class="ui buttons right floated">  
                <div class="pr-2">
                    {{  component('components:paginator.dropdown',{
                            namespace: 'files',
                            class: 'show-popup',
                            title: labels.paginator  
                        }) 
                    }}      
                </div> 
                {{ component('components:view.type.button',{ class: 'basic icon show-popup', namespace: 'files' }) }}
            </div>               
        </div>  
    </div>     
</div>
<div class="bg-white shadow p-4 flex-grow rounded-lg border border-gray-300">
    <div id="files_items" component="files>files.shared.items" namespace="files">    
        {{ component('files>files.shared.items',{ view_type: view_type }) }}   
    </div>
    <div class="pt-4 pb-8 absolute bottom-0" id="paginator">
        {{ component('components:paginator',{ namespace: 'files' }) }}
    </div>
</div>
<div class="ui modal" id="preview_file">    
    <div class="header">
        {{ preview.title }}
    </div>
    <i class="close icon"></i>
    <div class="scrolling content" id="preview_file_content">       
    </div>
    <div class="actions">
        <div class="ui basic right approve button">
        {{ preview.close }}       
        </div>
    </div>
</div>
{{ component('files>files.file.password-modal') }}