<div class="flex flex-col w-full p-2 mb-4 rounded-lg border border-solid border-gray-400">
    <div class="p-2 flex flex-row items-center">
        <div class="w-34 font-bold ">
            {{ labels.filesystem }}
        </div>
        <div class="pl-2">
            {{ (filesystem is empty) ? labels.local : filesystem }}
        </div> 
    </div>
    <div class="flex flex-row items-center">
        <div class="w-34 px-2 font-bold">{{ labels.path }}</div>        
        {{  component('tailwind~breadcrumb',{ 
                class: '',
                path: path,
                hide_links: true,
                id: 'breadcrumb_path' 
            }) 
        }}      
    </div>        
</div>       