{% set redirect = getOption('users.login.redirect') %}
{% set github = getOption('users.sign.with.github',false) %}
{% set facebook = getOption('users.sign.with.facebook',false) %}
{% set twitter = getOption('users.sign.with.twitter',false) %}
{% set google = getOption('users.sign.with.google',false) %}
{% set icon_color = 'text-indigo-400 hover:text-red-400 ' %}
<div class="flex items-center mt-2">   
    {% if github == true %}
        <div class="p-1">      
            <button class="ui basic mini oauth-authorize-button button" provider="github" action="login" redirect="{{ redirect }}">   
                {{ component('icons~github',{ size: 'h-7 w-7 pt-1', width: 3, color: icon_color },'svg') }}
            </button>       
        </div>
    {% endif %}
    {% if facebook == true %}
    <div class="p-1">
        <button class="ui basic mini oauth-authorize-button button" provider="facebook" action="login" redirect="{{ redirect }}">   
            {{ component('icons~facebook',{ size: 'h-7 w-7 pt-1', width: 10, color: icon_color },'svg') }}
        </button>
    </div>               
    {% endif %}    
   
    {% if twitter == true %}
        <div class="p-1">   
            <button class="ui basic mini oauth-authorize-button button" provider="twitter" action="login" redirect="{{ redirect }}">   
                {{ component('icons~twitter',{ size: 'h-7 w-7 pt-1', width: 2, color: icon_color },'svg') }}
            </button>           
        </div>
    {% endif %}   
    {% if google == true %}
        <div class="p-1">   
            <button class="ui basic mini oauth-authorize-button button" provider="google" action="login" redirect="{{ redirect }}">   
                {{ component('icons~google',{ size: 'h-7 w-7 pt-1', width: 2, color: icon_color },'svg') }}
            </button>           
        </div>        
    {% endif %}  
</div>