<div class="ui segment">           
    <div class="fourteen wide column" id="path_content">  
        {{ component('files:files.filesystem.dropdown',{ selected: driver_name }) }}  
        {{ component('files:files.view.path',{ path: path, view_type: view_type }) }}        
    </div>  
</div>
<div class="bg-white shadow p-4 flex-grow rounded-lg border border-gray-300">
    <div class="ui grid">
        <div class="ui twelve wide column">
            <div id="view_content" component="files:files.view.items" namespace="myfiles">    
                {{ component('files:files.view.items',{ path: path, view_type: view_type }) }}   
            </div> 
        </div>
        <div class="ui four wide column" id="file_details_content">            
        </div>        
    </div>
    <div class="pt-4 pb-8 absolute bottom-0" id="paginator">
        {{ component('components:paginator',{ namespace: 'myfiles' }) }}
    </div>       
</div>
<div class="ui modal" id="preview_file">    
    <div class="header">
        {{ preview.title }}
    </div>
    <i class="close icon"></i>
    <div class="scrolling content" id="preview_file_content">       
    </div>
    <div class="actions">
        <div class="ui basic right approve button">
        {{ preview.close }}       
        </div>
    </div>
</div>