{% if uuid is not empty %}
    {% set file = createModel('Files','storage').findByid(uuid) %}
{% endif %}
{% set hidden = (file.isPublic() == true) ? "style='display:none'" : '' %}
{% set active = (file.isPublic() == false) ? 'active' : '' %}
<div class="ui segment field"> 
    <div class="ui checkbox public-access" id="access">
        <input type="checkbox" name="public" value="1" uuid="{{ uuid }}" {{ (file.isPublic() == true) ? 'checked' : '' }} >
        <label>{{ fields.public }}</label>
    </div>   
</div>
<div class="mt-2" id="share_tab">
    <div class="ui stackable tabular menu file-share-tabs">      
        <div id="users_tab" {{ hidden }} class="item link share-tab-item {{ active }}" component="files>files.share.users" uuid="{{ uuid }}" file="{{ file.id }}">
            <i class="icon user blue"></i>
            {{ fields.users }}     
        </div>  
        <div id="groups_tab" {{ hidden }} class="item link share-tab-item" component="files>files.share.groups" uuid="{{ uuid }}" file="{{ file.id }}">
            <i class="icon users blue"></i>
            {{ fields.groups }}     
        </div>  
        <div id="note_tab" class="item link share-tab-item {{ (file.isPublic() == true) ? 'active' : '' }}" component="files>files.share.note" uuid="{{ uuid }}">
            <i class="file alternate outline icon blue"></i>
            {{ fields.note.label }}     
        </div>    
        <div id="password_tab" class="item link share-tab-item" component="files>files.share.password" uuid="{{ uuid }}">
            <i class="alternate lock icon blue"></i>
            {{ fields.password }}     
        </div>       
    </div>
    <div class="ui active tab basic segment" id="share_tab_content">   
        {% if file.isPublic() == true %}
            {{ component('files>files.share.note',{ uuid: uuid }) }} 
        {% else %}        
            {{ component('files>files.share.users',{ uuid: uuid, file: file.id }) }}   
        {% endif %}    
    </div>     
</div>