{% if uuid is not empty %}
    {% set file = createModel('Files','storage').findByid(uuid) %}
{% endif %}
{% set hidden = (file.isPublic() == true) ? "style='display:none'" : '' %}
{% set active = (file.isPublic() == false) ? 'active' : '' %}
<div class="ui segment field"> 
    <div class="ui checkbox public-access" id="access">
        <input type="checkbox" name="public" value="1" uuid="{{ uuid }}" {{ (file.isPublic() == true) ? 'checked' : '' }}>
        <label>Public</label>
    </div>
</div>
<div class="mt-2" id="share_tab">
    <div class="ui stackable tabular menu file-share-tabs">      
        <div id="users_tab" {{ hidden }} class="item link share-tab-item {{ active }}" component="storage>files.share.users" uuid="{{ uuid }}" file="{{ file.id }}">
            <i class="icon user blue"></i>
            {{ labels.users }}     
        </div>  
        <div id="note_tab" class="item link share-tab-item {{ (file.isPublic() == true) ? 'active' : '' }}" component="storage>files.share.note" uuid="{{ uuid }}">
            <i class="file alternate outline icon blue"></i>
            {{ labels.note }}     
        </div>          
    </div>
    <div class="ui active tab basic segment" id="share_tab_content">   
        {% if file.isPublic() == true %}
            {{ component('storage>files.share.note',{ uuid: uuid }) }} 
        {% else %}        
            {{ component('storage>files.share.users',{ uuid: uuid, file: file.id }) }}   
        {% endif %}    
    </div>     
</div>